<!--<html>-->

<!--<head>-->
<!--	<title>UniDROP by Catherine U. & Maria M.</title>-->
<!--	<meta charset="utf-8" />-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />-->
<!--	<link rel="stylesheet" href="assets/css/account.css" />-->
<!--</head>-->
<!--<body>-->
<!--	<p> hello </p>-->
<!--</body>-->

<!--</html>-->


<html>
<head>
<style>
body {
  background-color: rgb(255, 91, 95);
  color: Black;
}
</style>
</head>
<body>

<h1>Account Sucessfully made!</h1>
	<li><a href="index.html" class="button">Back to Homepage</a></li>
									


<div>
	<center>
	<img src = "/static/images/check-circle-regular.svg" alt "check mark" width=450 height=450
>
	</center>
</div>

</body>
</html>
